.todo__list{
    padding-top: 2rem;
    display: grid;
    place-items: center;
    gap: 1rem;
    .todo__item{
        display: grid;
        grid-template-columns: 4fr 1fr;
        >p{
            font-size: 1.5rem;
            font-weight: 500;
            color: rgba(#fff, 0.67);
        }
        >button{
            margin-left: 1rem;
            width: 3.75rem;
            height: 2.5rem;
            border: none;
            border-radius: 8px;
            background-color: #8739F9;
            color: rgba(#fff, 0.67);
            text-transform: uppercase;
            user-select: none;
        }
    }
}